* {
    font-family: Helvetica, Arial, sans-serif;
  }

  h1 {
    color: SeaGreen;
  }

  .parent{
    text-align: center;
  }

  .header {
    width:100%;
    justify-content: center;
    background-color: #5BB73B;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    height: 40px;
  }
  
  .person {
      width: 50px;
      height: 50px;
  }

  #board {
    display: inline-block;
    background-color: blue;
  }

  .col {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background-color: whitesmoke;
    margin: 5px;
  }

  .player1-color {
    background-color: greenyellow;
  }

  .player2-color {
    background-color: salmon;
  }

  .text {
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;
  }